










<br>
<hr>
<br>

<div class="input-field col s6">
  <input #myInp2 (input)="onKeyUp(myInp2.value)"  value="" id="first_name2" type="text" class="validate">
  <label class="active" for="first_name2">type smth..</label>
</div>
<p>{{inputText}}</p>

<br>

<br>

<div class="input-field col s6">
  <input #myInp (keyup.enter)="onKeyUp3(myInp.value)"  value="" id="first_name3" type="text" class="validate">
  <label class="active" for="first_name2">ШОО?</label>

  <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onKeyUp3(myInp.value)" >
    <i class="material-icons right">send</i>
  </button>

  <p>{{inputText2}}</p>




        <br>
        <br>
      <div class="row">
        <div class="input-field col s6">
          <button class="btn waves-effect waves-light" type="submit" name="action" (click)="addCar()" >Добавить машину
            <i class="material-icons right">send</i>
          </button>



          <input type="text" ngModel="carName" placeholder="Введите название машины">

          <p *ngIf="!addCarStatus; else successStatus">Машина не добавлена</p>
          <ng-template #successStatus>
            <p >Машина добавлена</p>
          </ng-template>
          <hr>

          <!--<app-car *ngFor="let car of cars "></app-car>-->

          <ul>
            <li
            *ngFor="let item of cars; let i = index">
             <div [ngStyle]="{backgroundColor: (i+1) % 2 === 0? 'red' : ''}"><b>{{i+1}}</b> - {{item}}</div>
            </li>
          </ul>





        </div>

      </div>




</div>
